.record-img-content {
  display: flex;
  justify-content: space-between;
}

.main-image {
  margin-right: 20px;
  height: 200px;
  width: 200px;
}

.other-images {
  margin-right: 20px;
  height: 200px;
  width: 200px;
}

img {
  height: 100px;
  width: 100px;
  /* 縦横比を保ったまま、画像を縦横100pxのサイズに収めるプロパティです */
  object-fit: contain;
}