/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;;
  background-color: #F7F7F3;
  color: #686565;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
.header {
  background-color: #FEEEED;
  margin-bottom: 40px;
  padding: 10px 0;

}
.inner {
  width: 100%;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
}

.search-form {
  width: 50vw;
  height: 5vh;
  display: flex;
  margin: 0 0 5px 15px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-btn {
  width: 4vw;
  height: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #8E8888;
  color: #fff;
  margin-left: 2px;
  border-radius: 3px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  margin-right: 30px;
  font-size: 0.8em;
  color: #8E8888;
  text-decoration: none;
  user-select: none;
  border: 1px #8E8888 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn:hover{
  color: #fff;
  background: #8E8888
}

/* 記録するボタン */
.record-btn {
  width: 120px;
  background: #FEEEED;
  text-align: center;
  border: #8E8888 solid;
  border-radius: 4%;
  bottom: 45px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.record-btn-text {
  color: #8E8888;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.record-btn-icon {
  width: 60%;
  height: auto;
}

/* メイン */
.greeting{
  margin: 0 0 20px 50px;
}

.greeting__link{
  text-decoration: underline;
}

.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 161px);
}

.card {
  width: calc((100% - 50px) / 3);
  margin: 40px 0;
}

.card__img {
  width: 800px;
  margin-bottom: 16px;
}

.card__summary {
  font-size: 16px;
  text-align: center;
}

.card__user {
  display: block;
  margin-right: 150px;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* HifuNoteとは */
.feature-contents {
  padding: 5vh 10vh 5vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 400px;
  height: 4px;
  background-color: #8E8888;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* スマホアプリリンク*/
.ad-contents {
  width: 100%;
  background-color: #FEEEED;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 50px 0px;
  padding: 5vh 15vw;
  color: #8E8888;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* 最新記録一覧 */
.index-list {
  text-align: center;
}

/* フッター */
.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}