.record__wrapper{
  min-height: calc(100vh - 161px);
}

.record__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.record__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

.record__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}

.record__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}

.detail__title{
  font-size: 20px;
  font-weight: bold;
}

.record__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.record__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.record__btn:hover{
  color: #fff;
  background: #999;
}

.record__comments{
  background-color: #f6f6f6;
  width: 100%;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  display: list-item;
  list-style-type: disc;
  margin-left: 24px;
  padding-bottom: 5px;
}

.comment_content{
  width: 600px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.comment_btn{
  border: 1px #999 solid;
  border-radius: 3px;
  padding: 2px;
  margin-left: 10px;
  font-size: 9px;
  text-decoration: underline;
  color: #999;
}